<div class="row">
  <div class="col-md-6 d-block m-auto">
    <div class="card">
      <div class="card-body">
        <div class="file-upload-container">
          <label for="file-upload" class="file-upload-label">Choose File</label>
          <input
            type="file"
            id="file-upload"
            class="file-upload-input"
            (change)="onFileSelected($event)"
            accept=".pdf,.doc,.docx"
          />
          <button
            mat-raised-button
            class="file-upload-button"
            (click)="onUpload()"
          >
            Upload
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
