<div class="row">
  <app-upload-cv></app-upload-cv>
  <app-change-profile-image [image]="image"></app-change-profile-image>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <form class="example-form">
        <mat-tab-group animationDuration="500ms">
          <mat-tab label="User Data">
            <div class="row">
              <mat-form-field class="example-full-width col-md-6">
                <mat-label>Name</mat-label>
                <input
                  type="text"
                  matInput
                  [formControl]="nameFormControl"
                  placeholder="Jhon Don"
                />
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width col-md-6">
                <mat-label>Phone Number</mat-label>
                <input
                  type="phone"
                  matInput
                  [formControl]="numberFormControl"
                  placeholder="(000) 000-0000"
                />
                <mat-error
                  *ngIf="
                    emailFormControl.hasError('phone') &&
                    !emailFormControl.hasError('required')
                  "
                >
                  Please enter a valid phone
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  phone is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="example-full-width col-md-6">
                <mat-label>City</mat-label>
                <input
                  type="email"
                  matInput
                  [formControl]="cityFormControl"
                  placeholder="Cairo"
                />
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  City is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width col-md-6">
                <mat-label>Country</mat-label>
                <input
                  type="email"
                  matInput
                  [formControl]="countryFormControl"
                  placeholder="Egypt"
                />
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Country is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="example-full-width col-md-6">
                <mat-label>Address</mat-label>
                <input
                  type="email"
                  matInput
                  [formControl]="addressFormControl"
                  placeholder="10 st example - city"
                />
                <mat-error *ngIf="addressFormControl.hasError('required')">
                  Address is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width col-md-6">
                <mat-label>Email</mat-label>
                <input
                  type="email"
                  matInput
                  [formControl]="emailFormControl"
                  placeholder="Ex. pat@example.com"
                />
                <mat-error
                  *ngIf="
                    emailFormControl.hasError('email') &&
                    !emailFormControl.hasError('required')
                  "
                >
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="date">
              <mat-form-field class="example-form-field col-md-6">
                <mat-label>Choose a date</mat-label>
                <input
                  matInput
                  [matDatepicker]="datepicker"
                  [formControl]="birthdateFormControl"
                />
                <mat-datepicker-toggle
                  matIconSuffix
                  [for]="datepicker"
                ></mat-datepicker-toggle>

                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker #datepicker>
                  <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button
                      mat-raised-button
                      color="primary"
                      matDatepickerApply
                    >
                      Apply
                    </button>
                  </mat-datepicker-actions>
                </mat-datepicker>
              </mat-form-field>
            </div>
          </mat-tab>
          <mat-tab label="Education level">
            <div class="row">
              <mat-form-field class="example-full-width col-md-6">
                <mat-label>industry</mat-label>
                <input
                  type="text"
                  matInput
                  [formControl]="industryFormControl"
                  placeholder="tech..."
                />
                <mat-error *ngIf="industryFormControl.hasError('required')">
                  industry is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width col-md-6">
                <mat-label>field Of Study</mat-label>
                <input
                  type="text"
                  matInput
                  [formControl]="fieldOfStudyFormControl"
                  placeholder="ex - computer science"
                />
                <mat-error *ngIf="fieldOfStudyFormControl.hasError('required')">
                  fieldOfStudy is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="example-full-width col-md-6">
                <mat-label>University</mat-label>
                <input
                  type="text"
                  matInput
                  [formControl]="universityFormControl"
                  placeholder="Helwan Universty"
                />
                <mat-error *ngIf="universityFormControl.hasError('required')">
                  university is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width col-md-6">
                <mat-label> Graduation Year</mat-label>
                <input
                  type="number"
                  matInput
                  [formControl]="GraduationYearFormControl"
                  placeholder="ex - 2023"
                />
                <mat-error
                  *ngIf="GraduationYearFormControl.hasError('required')"
                >
                  GraduationYear is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="example-full-width col-md-6">
                <mat-label>Grade</mat-label>
                <input
                  type="text"
                  matInput
                  [formControl]="gradeFormControl"
                  placeholder="ex - Good"
                />
                <mat-error *ngIf="gradeFormControl.hasError('required')">
                  Grade is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width col-md-6">
                <mat-label>languages</mat-label>
                <mat-select [formControl]="languagesFormControl" multiple>
                  <mat-option *ngFor="let lang of langs" [value]="lang.code">{{
                    lang.language
                  }}</mat-option>
                </mat-select>
                <mat-error *ngIf="languagesFormControl.hasError('required')">
                  languages is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </mat-tab>
          <mat-tab label="Job History">
            <div class="row">
              <mat-form-field class="example-full-width col-md-6">
                <mat-label>Title</mat-label>
                <input
                  type="text"
                  matInput
                  [formControl]="titleFormControl"
                  placeholder="ex - Software Engineer"
                />
                <mat-error *ngIf="titleFormControl.hasError('required')">
                  Title is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field
                class="example-full-width col-md-6"
                appearance="fill"
              >
                <mat-chip-list
                  [formControl]="titlesFormControl"
                  #chipList
                  aria-label="Fruit selection"
                >
                  <mat-chip
                    *ngFor="let fruit of JobTitles"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="remove(fruit)"
                  >
                    {{ fruit.name.name }}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input
                    placeholder="... Job Titles"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="add($event)"
                  />
                </mat-chip-list>
                <mat-error *ngIf="titlesFormControl.hasError('required')">
                  Job Titles is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="example-full-width col-md-6">
                <mat-label>minimum Salary</mat-label>
                <input
                  type="email"
                  matInput
                  [formControl]="minSalaryFormControl"
                  placeholder="5000"
                />
                <mat-error *ngIf="minSalaryFormControl.hasError('required')">
                  minimum Salary is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width col-md-6">
                <mat-label>Currency</mat-label>
                <input
                  type="email"
                  matInput
                  [formControl]="currencyFormControl"
                  placeholder="dollar"
                />
                <mat-error *ngIf="currencyFormControl.hasError('required')">
                  currency is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="example-full-width col-md-6">
                <mat-label>years Of Experience: </mat-label>
                <input
                  type="phone"
                  matInput
                  [formControl]="yearsOfExperienceFormControl"
                  placeholder="(000) 000-0000"
                />
                <mat-error
                  *ngIf="yearsOfExperienceFormControl.hasError('required')"
                >
                  years Of Experience is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-full-width col-md-6">
                <mat-label>Current Career Level</mat-label>
                <mat-select
                  placeholder="Select"
                  [(ngModel)]="selectedCareerLevel"
                  [ngModelOptions]="{ standalone: true }"
                >
                  <mat-option
                    *ngFor="let option of careerLevels"
                    [value]="option"
                    >{{ option }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="example-full-width col-md-6">
                <mat-label>Job Type</mat-label>
                <mat-select [(ngModel)]="selectedJobType" name="jobType">
                  <mat-option
                    *ngFor="let jobType of jobTypeOptions"
                    [value]="jobType"
                    >{{ jobType }}</mat-option
                  >
                </mat-select>
              </mat-form-field>

              <mat-form-field class="example-full-width col-md-6">
                <mat-label>Current Educational Level</mat-label>
                <mat-select
                  [(ngModel)]="selectedEducationalLevel"
                  name="currentEducationalLevel"
                >
                  <mat-option
                    *ngFor="let level of educationalLevels"
                    [value]="level"
                    >{{ level }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="example-full-width">
                <mat-label>Skill Name</mat-label>
                <input
                  matInput
                  placeholder="Skill Name"
                  [formControl]="skillNameFormControl"
                />
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Years of Experience</mat-label>
                <input
                  matInput
                  placeholder="Years of Experience"
                  [formControl]="yearsOfExperienceSkillFormControl"
                />
              </mat-form-field>

              <button
                mat-icon-button
                color="primary"
                (click)="addSkill()"
                [disabled]="
                  !skillNameFormControl.valid ||
                  !yearsOfExperienceSkillFormControl.valid
                "
              >
                <mat-icon>add</mat-icon>
              </button>

              <mat-chip-list>
                <mat-chip
                  *ngFor="let skill of skills; let i = index"
                  (removed)="deleteSkill(i)"
                >
                  {{ skill.SkillName }} ({{ skill.yearsOfExperience }} years of
                  experience)
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </div>
          </mat-tab>
        </mat-tab-group>
      </form>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center mt-3">
  <button type="button" class="btn btn-primary" (click)="saveProfileData()">
    Save Profile Data
  </button>
</div>
